{block content}
<div class = "photo">
    <div class = "introTitle">
        Helping children with autism get through their day easily.
    </div>
    <div class="contact-us-container">
        <div class="contact-us button">
            Contact us
        </div>
    </div>

</div>
